<div class="container">
  <app-menu
    (addEvent)="openAddModal()"
    (uploadFile)="uploadFile($event)">
  </app-menu>
  <div class="content" *ngIf="!(loading$ | async)">
    <app-events
      [events]="events$ | async"
      (deleteEvent)="deleteEvent($event)"
      (editEvent)="openEditModal($event)">
    </app-events>
    <app-pagination
      [length]="eventsLength$ | async"
      [pageIndex]="page$ | async"
      [pageSize]="pageSize$ | async"
      (changePage)="changePage($event)"
      (changePageSize)="changePageSize($event)">
    </app-pagination>
  </div>
  <div class="spinner" *ngIf="loading$ | async">
    <mat-spinner [diameter]="80"></mat-spinner>
  </div>
</div>





