<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <form #form="ngForm">
    <p>
      <mat-form-field class="event-name">
        <input matInput [(ngModel)]="eventName" #name="ngModel" name="event-name" required placeholder="Event name">
        <mat-error *ngIf="name.invalid">Name is required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="event-type">
        <mat-select placeholder="Event type" #type="ngModel" required [(ngModel)]="eventType" name="event-type">
          <mat-option value="birthday">Birthday</mat-option>
          <mat-option value="holiday">Holiday</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
        <mat-error *ngIf="type.invalid">Type is required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="event-date">
        <input matInput [matDatepicker]="picker" #date="ngModel" required placeholder="Select date" [(ngModel)]="eventDate" name="event-date">
        <mat-error *ngIf="date.invalid">Date is required</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker startView="multi-year" #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="event-description">
        <textarea matInput [(ngModel)]="eventDescription" placeholder="Event description" name="event-desctiption"></textarea>
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button [disabled]="form.invalid" mat-button (click)="saveEvent()">Ok</button>
</mat-dialog-actions>
